@charset "UTF-8";

* {
	box-sizing: border-box;
	/* --bg-color:rgb(42, 59, 42); */
	--bg-color:rgb(173, 182, 165);
	/* --menucolor: rgb(236, 244, 225); */
	--menucolor: rgb(213, 224, 210);
	--text-color: rgb(28, 36, 28);
	--extracolor: rgb(52, 65, 58);
	--essaycolor: rgb(203, 214, 200);
}
html, body {
	height: 100%;
  	margin: 0;
	-webkit-font-smoothing: antialiased;
	background-color: black;
}

body{
	font-size: calc(12px + 6 * ((100vw - 300px) / (1600 - 300)));
}


/* BACKGROUND */
#ground {
	cursor: crosshair;
	background: var(--bg-color);
	color: #EEE;
	position: absolute;
	right: 0;
	height: 100vh;
	width: 90vw;
	overflow: hidden;
}

#clarity {
	position: fixed;
	top: 7px;
	right: 5px;
	display: block;
	/* padding:5px; */
	height: 25px;
	background: none;
	border: solid 2px white;
	border-radius: 12px;
	color: white;
	text-align: center;
	font-family: Monaco, courier, monospace;
}
#clarity:hover, #clarity.on:hover{
	background: grey;
	cursor: pointer;
}
#clarity.on{
	background: rgba(0,0,0,0.6);
	/* border: solid 1px black; */
	/* color: black; */
}
#clarity.on span{
	display: none;
}

#clarity.on::after{
	content:'air';
}

#ground.groundless{
	background:none;
	z-index: 1;
	/* background-image: url(images/soilground.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover; */
}

#ground.groundless:before{
	z-index:-1;
    position:absolute;
    left:0;
    top:0;
	width: 100%;
	height: 100%;
    content: " ";
	background-image: url(images/soilgroundtitles.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%; 
    opacity:0.7;
	-webkit-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}

#ground.groundless:hover:before{
	opacity: 0.3;
}

#ground.groundless .plant img{
	/* -webkit-filter: drop-shadow(3px 3px 3px rgb(0, 0, 0, 0.5));
	filter: drop-shadow(3px 3px 3px rgb(0, 0, 0, 0.5)); */
}

#ground.groundless .label h2 span{
	display: none;
}

#ground.groundless #left h2:after{
	content:'PURITY';
}
#ground.groundless #right h2:after{
	content:'TOUCH';
}
#ground.groundless #top h2:after{
	content:'LOVE';
}
#ground.groundless #bottom h2:after{
	content:'POWER';
}

/* GRID */

.hair{
    background-color: floralwhite;
    pointer-events:none;
	position: absolute;
}

#crosshair-h {
	left: 120px;
	right: 120px;
    height:1px;
    top:50%;
	transform: translate(0, -50%)
}

#crosshair-v{
    width:1px;
    left:50%;
    top: 50px;
	bottom: 50px;
	transform: translate(-50%,0)
}

@media only screen and (max-width:800px) {
	#crosshair-h{
		left: 80px;
		right: 60px;
	}
	#crosshair-v{
		top: 40px;
		bottom: 40px;
	}
}

/* LABELS */

.label {
	position: absolute;
	margin: auto;
	display: inline-block;
	width: 110px;
	padding: 10px;
	/* text-shadow: black 0 0 10px; */
	z-index: 2;
}

.label h2 {
	color: floralwhite;
	text-align: center;
	margin: 0px;
	cursor: help;
}
.label a {
	text-decoration: none;
}
.label h2:hover{
	color: coral;
}

#left {
	left:0;
	top: 50%;
	transform: translate(0,-55%);
}
#right {
	right:0;
	top: 50%;
	transform: translate(0,-55%);
}
#top {
	right:50%;
	top: 0;
	transform: translate(50%,0);
}
#bottom {
	right:50%;
	bottom: 0;
	transform: translate(50%,0);
}

/* LABEL DEFINITIONS */

.overlay {
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	display: none;
	z-index: 1000;
}

.overlay:target{
	display: block;
}

.overlay div{
	position: absolute;
	cursor: initial;
	left: 50%;
	transform: translate(-50%, 0);
	text-align: center;

}

.labeldef {

}

.labeldef:target{
}

.labeldef div{
	width: 25%;
	max-width: 800px;
	top: 50%;
	transform: translate(-50%,-50%);
	padding: 1em;
	background: var(--extracolor);
	color: floralwhite;
	border: outset var(--extracolor) 3px;
}

.labeldef p{
	font-size: 1.1em;
	padding: 0px 12px;
	line-height: 1.4;
	letter-spacing: 0.01em;
}

.labeldef ol{
	list-style: upper-roman inside;
	padding: 0px 12px;
	
}

/* NAV */
#signs {
	position: fixed;
	top: 0px; 
	height: 100vh;
	width: 10vw;
	min-width: 85px;
	z-index: 10;
	color: black;
	font-size: 0.9em;
	line-height: 1.5;
	padding: 0.6em 0.6em;
	background-color: var(--menucolor);
	overflow-y: scroll;
}

#signsheader{
	margin-bottom:15px;
}

nav a{
	color:inherit;
	line-height: 1;
}

nav a:hover{
	color:coral;
}

#signs a{
	line-height: 1;
}

nav h1, nav h2{
	font-weight: normal;
	text-align: center;
	line-height: 0.8;
}

nav h2{
	font-size: 0.9em;
	line-height: 1.1;
}

#thoughts {
	list-style-type:"â§ ";
	padding-left: 2ch;
	margin: 0;
}

#thoughts li{
	/* padding-inline-start: 0ch; */
	font-size: 0.9em;
	line-height: 1.3;
	margin-bottom: 1ch;
}
/* #thoughts a{
	text-decoration: none;
}
#thoughts a:hover{
	text-decoration: underline;
} */

/* ABOUT */
#gijsgarden div{
	width: 40%;
	max-height: 90vh;
	overflow-x: visible;
	overflow-y: scroll;
}
#gijsgarden h1, h2, h3 {
	font-weight: normal;
}

#gijsgarden a{
	color: coral;
	text-decoration: none;
}

#gijsgarden a:hover{
	text-decoration: underline;
}

/* HIGHLIGHTS */
a[name] {
	position: relative;
	display: inline-block;
	/* margin-top: 20px; */
	color: inherit;
	text-decoration: none;
	font-style: italic;
	cursor: help;
	line-height: normal;
  }
a[name]:active{
	/* pointer-events: none; */
}

a[name]:hover::after {
	content: attr(name);
	position: absolute;
	left:-1em;
	top: 1.5em;
	text-shadow: none;
	background: VAR(--bg-color);
	color: floralwhite;
	width: 100px;
	padding: 5px;
	border: 1px solid floralwhite;
	z-index: 10;
  }

/* FAMILY TOGGLES */

/* summary{
	cursor: cell;
}
summary:hover,label:hover,a:hover{
  color: tomato;
} */
nav input {
	display: none;
}

.btn {
	display: inline-block;
	height: 1.5ch;
	width: 1.5ch;
	margin-right: 3px;
	border-radius: 6px;
	border: 1px solid black;
	background-color: none;
  }

input:checked + .btn {
	background-color: darkolivegreen;
	/* border-color: coral; */
}

label:hover > .btn {
	background-color: coral;
}

label:hover > input:checked + .btn {
	background-color: rgb(255, 201, 182);
}

label {
	/* display: inline-block; */
	position: relative;
	cursor: pointer;
	font-size: 0.9em;
	text-transform: capitalize;
}

/* FAMILY INFO */

nav label + a {
	font-family: Monaco, Menlo, 'Courier New', Courier, monospace;
	font-size: 0.7em;
	text-decoration: none;
	cursor: help;
}

.faminfo{
	z-index: 2;
	background: var(--essaycolor);
	overflow-y: auto;
	overflow-x: hidden;
}

.visible{
	display: block;
}

.faminfo div {
	/* background-color: inherit; */
	color: black;
	/* max-height: 100vh; */
	/* overflow: scroll; */
	border: none;
	min-width: 400px;
	width: 50vw;
	max-width: 800px;
	font-size: 1.2em;
}

.faminfo h1, h2, h3 {
	font-weight: normal;
	margin-top: 1.0em;
	margin-bottom: 0.6em;
}

.faminfo p{
	text-align: left;
	font-size: 1.0em;
	padding: 0px 12px;
	line-height: 1.4;
	letter-spacing: 0.01em;
}

.faminfo ol{
	text-align: left;
	list-style-type: decimal;
	list-style-position: inside;
}
.faminfo li{
	margin-bottom: 0.5em;
}

.faminfo img{
	width: 80%;
	max-width: 800px;
	margin: 0.6em 0;
}

sup{
	font-size: 0.7em;
	line-height: 0;
}
sup a{
	text-decoration: none;
}

.faminfo a{
	color:coral;
	text-decoration: none;
}

.faminfo a:hover{
	text-decoration: underline;
}

a.tag{
	color: green;
	font-style: italic;	
	cursor: crosshair;
}


/* QUIZ */
.quiz-image {
	display: none;
	/* max-width: 100%; */
	/* margin-top: 20px; */
}

#quizForm li:hover{
	color: green;
}

#quizForm label{
	font-size: inherit;
}

/* #quizForm li::marker{
	color: inherit;
} */
#quizForm li:hover::marker{
	color: green;
}

input[type="radio"] {
	position: absolute;
	left: -4em; /* Adjust this value to move the radio button further left if necessary */
	top: 0;
}

hr{
	border-style: solid;
	border-width: 0.5px;;
}

ol.refs{
	list-style-position: outside;
}

.faminfo button {
	background: inherit;
	border: 1px solid black;
	color: inherit;
	font-size: 1em;
	padding: 1em;
	margin: 1em;
	font-family: inherit;
	cursor: pointer;
}

.faminfo button:disabled{
	color: rgba(0,0,0,0.5);
	border-color: rgba(0,0,0,0.5);
}

.faminfo button:disabled:hover{
	background: inherit;
	cursor: default;
}

.faminfo button:hover{
	background-color: var(--bg-color);

}

#resultImage, .world-info, .faminfo button {
	scroll-margin-bottom: 50px;
}

#resultImage{
	width:50%;
}

.faminfo .world-info{
	text-align: center;
	width: 80%;
	/* font-style: italic; */
}

.world-info em{
	text-transform: capitalize;
	font-size: 1.2em;

}

/* THE PLANTS */

.plants {
	display: block;
	/* visibility: visible; */
	z-index: 1;
}

.plant {
	/* -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3)); */
	/* filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3)); */
	cursor: cell;
	position: absolute;
	width: 4vw;
	min-width: 40px;
	display: block;
	transform: translate(-50%, -50%);
	z-index: 0;
	transition: 0.1s;
}

.green {
	-webkit-filter: drop-shadow(0px 0px 10px floralwhite); 
	filter: drop-shadow(0px 0px 5px black);
}

.plant:hover {
	/* -webkit-filter: drop-shadow(0px 0px 10px floralwhite); */
	/* filter: drop-shadow(0px 0px 5px floralwhite); */
	z-index: 4;
}

.highlight {
	-webkit-filter: drop-shadow(0px 0px 5px rgb(255, 255, 0, 0.5));
	filter: drop-shadow(0px 0px 5px rgb(255, 255, 0, 0.5));
	z-index: 4;

}

.plant img{
	width: inherit;
	min-width: 5vh;
	transition: 0.1s;
}

.plant img:hover{
	width: 12vw;
	margin-left:-4vw;
	margin-top:2vh;
	z-index: 4;
}

.highlight img{
	width: 8vw;
	margin-left:-2vw;
	margin-top:2vh;
}

/* THE CARDS */

.card {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.1s;
  font-size: 1.4em;
  color: var(--text-color);
}
.card:target {
	visibility: visible;
    opacity: 1;
    pointer-events: auto;
}
a.back {
	display: block;
	height: 100vh;
	width: 100vw;
	position:fixed;
}

.card > div {
    width: 400px;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
	/* padding-bottom: 0; */
    background: floralwhite;
	text-align: center;
	height: 80vh;
	overflow-y: scroll;
	cursor: initial;
}

.shadow {
	background-color: rgba(0,0,0,0.1);
}

div.bottom{
	position: absolute;
	height: 10vh;
	padding-top:0;
	top:82%;
	background: linear-gradient(transparent 0%, floralwhite 100%);
	overflow:visible;

}
.card > div.bottom::after {
  content: "";
  position: absolute;
  bottom: -49px;
  left: 0;
  width: 300px;
  height: 0px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid floralwhite;
}

:root{
	--cardwidth: 90vw;
}

.card-close {
  color: #aaa;
  line-height: 50px;
  font-size: 70%;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  right: 0;
  top: 0;
  width: 3em;
  text-decoration: none;
}

.card-image{
	width: 100%;
	height: auto;
	display: block;
	margin: auto;
}
.white{
	background-color: darkgreen;
}

.card h2 {
	font-size: 1.2em;
	text-transform: capitalize;
	font-weight: normal;
}

.card p{
	font-size: 0.8em;
}

h3 {
	font-size: 0.6em;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

h5 {
	font-family: 'Times New Roman', Times, serif;
	font-weight: 100;
	font-size: 0.6em;
	color: rgba(0,0,0,0.6);
	margin-top: 5px;;
}

input[type="range"]{
	visibility: inherit;
	display: inline-block;
	height: 20px;
	-webkit-appearance: none;
	margin: 0;
	width: 100%;
}

/* FOOTER */
footer {
	position: fixed;
	bottom: 0;
	right: 0;
	/* width: 100vw; */
	color: darkolivegreen;
	/* background: rgba(255, 255, 255, 0.25); */
	text-align: left;
	padding-right: 5px;
	line-height: 0;
	z-index: 0;
	font-size: 0.8em;
}

footer a{
	color: inherit;
}

@media only screen and (max-width: 800px) {

	#ground{
		width: calc(100vw - 85px);
	}

	#clarity{
		font-size: 0.7em;
		height: 20px;
		border-radius: 10px;
	}

	.plant img{
		min-width: 30px;
	}

	.card > div {
		width: var(--cardwidth);
		max-width: 400px;
	}
	.card > div.bottom::after {
		width: calc(var(--cardwidth) - 100px);
		max-width: 300px;
	}

	.card p{
		font-size: 1em;
	}

	#crosshair-h{
		left: 90px;
		right: 90px;
	}

	.label{
		/* width: 22%; */
		font-size: 0.8em;
	}

	.labeldef div{
		width: calc(var(--cardwidth) - 20px);
		max-width: 300px;
	}

	#gijsgarden div{
		width: calc(var(--cardwidth) - 20px);
		max-width: 300px;
	}

	.faminfo div{
		width: 90%;
		min-width: 200px;
		max-width: 600px;
		padding:0 5px;
	}

	.faminfo img{
		width:100%;
	}
}
