* {
	box-sizing: border-box;
}
html, body {
	cursor: url("images/tinyspade.png") 0 31, crosshair;
	height: 100%;
  margin: 0;
}

.ground {
	background: darkgoldenrod;
  animation: fade 10s infinite alternate;
	background-image: url("images/sunsoil.jpg");
	background-repeat: repeat;
	background-position: center;
	background-blend-mode: color-burn;
	color: #EEE;
	/* cursor: crosshair; */
	/* cursor: url("images/whitespade.png"), crosshair; */
	/* filter: blur(8px);
	-webkit-filter: blur(8px); */
	height: 100%;
	width: 100%;
}

@keyframes fade {
  0%   {background-color: darkgoldenrod;}
	25%  {background-color: darkgrey;}
	50%  {background-color: darkkhaki;}
  75%  {background-color: darkseagreen;}
  100% {background-color: darkorchid;}
	}

// SIGNS

#sign
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
#sign:hover{
	opacity: 1;
}

.map {
	cursor: crosshair;
}

#menuToggle{
  display: block;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#map{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased; /* to stop flickering of text in safari */
}

#map li{
	padding: 10px 0;
	font-size: 1.2em;
	text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#map > li:hover{
  color: tomato;
}

// FAMILY TOGGLES
.family input{
	opacity: 1;
	height: auto;
	width: auto;
}

.family:checked ~ .plants{
	display: block;
}

.plants {
	display: none;
}

/* THE PLANTS */

.plant {
	-webkit-filter: drop-shadow(2px 2px 2px white);
	filter: drop-shadow(2px 2px 2px white);
	position: fixed;
	width: 100px;
	/* display:none; */
}

.plant:hover {
	-webkit-filter: drop-shadow(5px 5px 5px yellow);
	filter: drop-shadow(5px 5px 5px yellow);
}

/* THE CARDS */

.card {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
	visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.card:target {
		visibility: visible;
    opacity: 1;
    pointer-events: auto;
	}
a.back {
	display: block;
	height: 100vh;
	width: 100vw;
}

.card > div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: white;
		border: 0 0 0 20px white;
}
.card > div::after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 300px;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid white;
}

.card-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.card-image{
	width: 200px;
	height: auto;
	display: block;
	margin: auto;
}

.card h2 {
	font-size: 1.2em;
	text-transform: capitalize;
	text-align: center;
	font-weight: normal;
}

h3 {
	font-size: 0.8em;
	font-weight: 100;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	}

p	{
}

/* THE GRID */
.label h2 {
	color: yellow;
	text-align: center;
	margin: 0px;
}

.label {
	display: inline-block;
	height: 45px;
	width: 110px;
	padding: 5px;
	// border: 1px solid yellow;
	position: fixed;
}

#left {
	left:0;
	top: 50%;
	margin-top: -22px;
}
#right {
	right:0;
	top: 50%;
	margin-top: -22px;
}
#top {
	right:50%;
	top: 0;
	margin-right: -55px;
}
#bottom {
	right:50%;
	bottom: 0;
	margin-right: -55px;
}

#crosshair-h {
    /* width:80vw; */
		left: 130px;
		right:130px;
    height:3px;
    top:50%;
    position: fixed;
    z-index: 1 !important;
}

#crosshair-v{
    /* height:84vh; */
    width:3px;
    left:50%;
    position:fixed;
    top: 60px;
		bottom: 60px;
    z-index: 1 !important;
}

.hair{
    background-color:rgba(255,255,0,0.9);
    pointer-events:none;
}


.right {
	float: right;
	margin-left: 2rem;
	clear: right;
}
.left {
	float: left;
	margin-right: 2rem;
	clear: left;
}
